{% include 'header.html.twig' %}

{% for format in formats %}
    <div class="container">
        <div>{{ format }}</div>
        {% for formatsAndId in formatsAndIds %}
            {% if formatsAndId.format  == format %}
                {% for item in data %}
                    {% if item.name == formatsAndId.name %}
                        <div>{{ item.name}}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}
{% include 'footer.html.twig' %}